{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "security"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:security/recommended"
  ],
  "env": {
    "node": true,
    "es2022": true
  },
  "rules": {
    "security/detect-object-injection": "warn",
    "security/detect-non-literal-regexp": "error"
  }
}
