# =========================
# Secretos y Configuración
# =========================
.env
.env.*
!.env.example

# =========================
# Entornos Virtuales
# =========================
venv/
.venv/
env/
.env_venv/

# =========================
# Archivos generados por Python y Empaquetado
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.installed.cfg
*.egg
*.whl
*.tar.gz

# =========================
# Pruebas, Cobertura, Profiling y QA
# =========================
.tox/
.coverage
.coverage.*
coverage.xml
htmlcov/
.benchmarks/
profile.svg

# =========================
# Caché de herramientas (como uv, pip, pytest, ruff)
# =========================
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.uv/

# =========================
# Editores de código y SO
# =========================
.vscode/
.idea/
*.swp
.DS_Store
