[project]
name = "python-qa-blueprint"
version = "0.2.0"
description = "Plantilla base corporativa (11X) para scripts de Python con pruebas exhaustivas, BDD, y Profiling"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "requests>=2.31.0",
    "python-dotenv>=1.0.0",
]

[project.optional-dependencies]
dev = [
    # Core Testing & Mocking
    "pytest>=8.0.0",
    "pytest-cov>=4.1.0",
    "pytest-mock>=3.14.0",
    
    # BDD & Benchmarking
    "pytest-bdd>=7.1.2",
    "pytest-benchmark>=4.0.0",
    
    # Linting & Typing
    "ruff>=0.3.0",
    "mypy>=1.9.0",
    
    # QA Matrices
    "tox>=4.14.0",
    "tox-uv>=1.16.0",
    
    # Security & Mutation
    "bandit>=1.7.8",
    "mutmut>=2.4.5",
    
    # Complexity & Profiling
    "radon>=6.0.1",
    "py-spy>=0.3.14",
    
    # Observability & Metrics (Nivel 11X)
    "prometheus-client>=0.20.0"
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.pytest.ini_options]
addopts = "--strict-markers --cov-report=html --cov-report=term-missing"
markers = [
    "integration: Pruebas que requieren conexión a internet (deseleccionar con '-m \"not integration\"')",
    "bdd: Pruebas de comportamiento Gherkin",
    "benchmark: Pruebas de rendimiento interno"
]
testpaths = ["tests"]

[tool.ruff]
line-length = 120
target-version = "py313"

[tool.mypy]
strict = true

[tool.mutmut]
paths_to_mutate = "src/"
backup = false
runner = "python -m pytest -x"
tests_dir = "tests/"
