{
  "name": "react-qa-blueprint",
  "version": "2.0.0",
  "description": "Plantilla base corporativa (Nivel 11X) para Frontend React (Vite, RTL, Playwright, Lighthouse, Stryker)",
  "scripts": {
    "dev": "vite",
    "build": "tsc && vite build",
    "type-check": "tsc --noEmit",
    "format": "prettier --write \"src/**/*.{js,ts,jsx,tsx}\" \"tests/**/*.{js,ts,tsx}\"",
    "format:check": "prettier --check \"src/**/*.{js,ts,jsx,tsx}\" \"tests/**/*.{js,ts,tsx}\"",
    "lint": "eslint src --ext ts,tsx --report-unused-disable-directives --max-warnings 0",
    "test:unit": "vitest run",
    "test:coverage": "vitest run --coverage",
    "mutate": "stryker run",
    "audit:deps": "npm audit",
    "test:e2e": "playwright test",
    "test:perf": "lhci autorun"
  },
  "devDependencies": {
    "@axe-core/playwright": "^1.2.3",
    "@lhci/cli": "^0.13.0",
    "@playwright/test": "^1.43.0",
    "@stryker-mutator/core": "^8.2.6",
    "@stryker-mutator/vitest-runner": "^8.2.6",
    "@testing-library/jest-dom": "^6.4.2",
    "@testing-library/react": "^14.2.1",
    "@testing-library/user-event": "^14.5.2",
    "@types/react": "^18.2.55",
    "@types/react-dom": "^18.2.19",
    "@typescript-eslint/eslint-plugin": "^7.1.1",
    "@typescript-eslint/parser": "^7.1.1",
    "@vitejs/plugin-react": "^4.2.1",
    "@vitest/coverage-v8": "^1.3.1",
    "eslint": "^8.56.0",
    "eslint-config-prettier": "^9.1.0",
    "eslint-plugin-jsx-a11y": "^6.8.0",
    "eslint-plugin-react": "^7.33.2",
    "eslint-plugin-react-hooks": "^4.6.0",
    "eslint-plugin-security": "^3.0.0",
    "eslint-plugin-sonarjs": "^0.24.0",
    "jsdom": "^24.0.0",
    "prettier": "^3.2.5",
    "typescript": "^5.2.2",
    "vite": "^5.1.0",
    "vitest": "^1.3.0"
  }
}
